name: Flutter Setup

on:
  workflow_call:
    inputs:
      flutter-version:
        description: 'Flutter version'
        required: false
        type: string
        default: '3.27.0'
      channel:
        description: 'Flutter channel'
        required: false
        type: string
        default: 'stable'

jobs:
  setup:
    name: Setup Flutter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ inputs.flutter-version }}
          channel: ${{ inputs.channel }}
          cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Generate code
        run: flutter pub run build_runner build --delete-conflicting-outputs

